/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


main, .testArea {
 margin: 100px 200px;
 border: 1px solid blue;
 padding: 30px;
 display: block;
 
}

fieldset {
  border: 1px solid red;
}


